@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
/* font-family: 'Roboto Mono', monospace;  */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto+Mono');
/* font-family: 'Playfair Display', serif;  */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto|Roboto+Mono');
/* font-family: 'Roboto', sans-serif;  */

body {
    max-width: 800px;
    margin: auto;
    background-color: #F7F6F6;
}

header h1 {
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}

header nav {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
}

header section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}
