@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
/* font-family: 'Roboto Mono', monospace;  */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto+Mono');
/* font-family: 'Playfair Display', serif;  */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto|Roboto+Mono');
/* font-family: 'Roboto', sans-serif;  */

body {
    max-width: 800px;
    margin: auto;
    background-color: #F7F6F6;
}

header h1 {
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin: 30px;
}

div .collapse  {
    display: flex !important;
    justify-content: center !important;
}

div header nav {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    background-color: #F7F6F6 !important;
    border-bottom: 1.3px dashed #8c8b8b;
}

.resume {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
}

#hello-text {
    margin-left: 20px;
    text-align: justify;
    
}
hr {
	background-color: #F7F6F6;
	border-top: 1.3px dashed #8c8b8b;
}

div #title-text {
    display: flex;
    justify-content: center;
}

.work-image-cards  {
    text-align: center;
}

.work-image {
  box-shadow: 1px 4px 7px -3px #7b857a;
}

@media (min-width: 600px) {
    .work-image-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
.contacts-block {
     display: grid;
    grid-template-columns: 1fr 1fr;
}
.more-works {
    display: flex;
    justify-content: center;
}


footer {
    text-align: center;
}