@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
/* font-family: 'Roboto Mono', monospace;  */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto+Mono');
/* font-family: 'Playfair Display', serif;  */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto|Roboto+Mono');
/* font-family: 'Roboto', sans-serif;  */

body {
    max-width: 800px;
    margin: auto;
    background-color: #F7F6F6;
}

header h1 {
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin: 30px;
}

p .hello-text {
    margin-left: 20px;
}

div .collapse  {
    display: flex !important;
    justify-content: center !important;
}

div header nav {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    background-color: #F7F6F6 !important;
    border-bottom: 1.3px dashed #8c8b8b;
}

header section {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
}

hr {
	background-color: #F7F6F6;
	border-top: 1.3px dashed #8c8b8b;
}

div #title-text {
     display: flex;
    justify-content: center;
}